*{
    margin: 0;
    padding: 0;
 }

body{
    background-color: darkolivegreen;
    text-align: center;
 }
.container {
    height:70vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
} 
.box{
    height: 18vmin ;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: darkgreen;
}
#reset-button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(244, 227, 69);
    color: rgb(4, 35, 18);
    border-radius: 1rem;
    border:none;
}
#new-btn{
    padding: 1 rem;
    margin:10px;
    font-size: 2.25rem;
    background-color: rgb(43, 184, 231);
    color: bisque;
    border-radius: 0.5rem;
    border: none;
}
#msg {
    color: beige;
    font-size: 5vmin;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide {
    display: none;
}
h1{
    color: rgb(247, 251, 4);
    padding-top: 35px;
    font-family: cursive;
    font-size: 50px;
    text-shadow: 3px 3px 5px rgb(248, 83, 17);
}
